.header {
  background-color: #0c0e12cc;
  height: 6.4rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border-bottom: 1px solid #272c3580;

  &--sticky {
    position: sticky;
    top: 0;
    z-index: 50;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
      justify-content: space-between;
    }
  }
}

.nav {
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }
}
