.header {
  background-color: #0c0e12cc;
  height: 6.4rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border-bottom: 1px solid #272c3580;

  &--sticky {
    position: sticky;
    top: 0;
    z-index: 50;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
      justify-content: space-between;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  &__icon {
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    background-image: linear-gradient(to bottom right, $color-primary, #8347eb);

    &__symbol {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }
  }

  &__text {
    font: 700 2rem / 2.8rem $font-heading;
    color: $color-heading;
  }
}

.nav {
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }
}
