.button {
  cursor: pointer;
  background: var(--btn-color, $color-primary);
  @include transition;
  font: 500 1.4rem / 2rem $font-ui;
  color: $color-body;

  &:hover {
    background: color-mix(in srgb, var(--btn-color, $color-primary) 80%, white);
  }

  &--plain {
    background: none !important;
    border: none;

    &:hover {
      color: color-mix(in srgb, var(--btn-color, $color-primary) 80%, black);
    }
  }
}
