$layoutWidth: 1366px;
$columnPadding: 3.2rem;

$font-ui: var(--font-primary), sans-serif;
$font-body: var(--font-primary), sans-serif;
$font-heading: var(--font-secondary), sans-serif;

$color-primary: #22c35d;
$color-heading: #f1f2f4;
$color-body: #818898;
$color-background: #0c0e12;
